<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Profile - {{user.username}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../static/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="../static/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<link rel="stylesheet" href="../static/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="../static/css/jquery.gritter.css" />
		<link rel="stylesheet" href="../static/css/select2.css" />
		<link rel="stylesheet" href="../static/css/bootstrap-editable.css" />

		<!-- fonts -->

		<link rel="stylesheet" href="../static/css/ace-fonts.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="../static/css/ace.min.css" />
		<link rel="stylesheet" href="../static/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="../static/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="../static/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="../static/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="../static/js/html5shiv.js"></script>
		<script src="../static/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							B-Link
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						
						<li class="green">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-envelope icon-animated-vertical"></i>
								<span class="badge badge-success">5</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="icon-envelope-alt"></i>
									5 Messages
								</li>

								<li>
									<a href="#">
										<img src="../static/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Alex:</span>
												I have an opportunity for you!
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>a moment ago</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<img src="../static/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Susan:</span>
												Check out this opportunity!
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>20 minutes ago</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<img src="../static/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Bob:</span>
												B-Link is awesome!
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>3:15 pm</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										See all messages
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="../static/avatars/user.jpg" />
								<span class="user-info">
									<small>Welcome,</small>
									{{user.username}}
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="icon-cog"></i>
										Settings
									</a>
								</li>

								<li>
									<a href="{{url_for('editProfile', username=user.username)}}">
										<i class="icon-user"></i>
										Edit Profile
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="{{ url_for('logout') }}">
										<i class="icon-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>


					<ul class="nav nav-list">
						<li>
							<a href="{{url_for('user', username=user.username)}}">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> Your Profile </span>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="icon-envelope"></i>
								<span class="menu-text"> Messages </span>
							</a>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text"> Opportunities </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										All Networks
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										Columbia Business School
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										Harvard Business School
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										Business School #3
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										Business School #4
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										Business School #5
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										Business School #6
									</a>
								</li>

							</ul>
						</li>
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">
					<div class="page-content">
						<div class="page-header">
							<h1>
								Your Profile Page
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div>
									<div id="user-profile-3" class="user-profile row">
										<div class="col-sm-offset-1 col-sm-10">
											<div class="well well-sm">
												<button type="button" class="close" data-dismiss="alert">&times;</button>
												&nbsp;
												<div class="inline middle blue bigger-110"> Your profile is 70% complete </div>

												&nbsp; &nbsp; &nbsp;
												<div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active">
													<div class="progress-bar progress-bar-success" style="width:70%"></div>
												</div>
											</div><!-- /well -->

											<div class="space"></div>
											
											<form class="form-horizontal" method="post" name="editProfile">
											{{editProfileForm.hidden_tag()}}
												<div class="tabbable">
													<ul class="nav nav-tabs padding-16">
														<li class="active">
															<a data-toggle="tab" href="#edit-basic">
																<i class="green icon-edit bigger-125"></i>
																Basic Info
															</a>
														</li>

														<li>
															<a data-toggle="tab" href="#edit-password">
																<i class="blue icon-key bigger-125"></i>
																Password
															</a>
														</li>
													</ul>

													<div class="tab-content profile-edit-tab-content">
														<div id="edit-basic" class="tab-pane in active">
															<h4 class="header blue bolder smaller">General</h4>

															<div class="row">
																<div class="col-xs-12 col-sm-4">
																{{editProfileForm.picture()}}	
																</div>

																<div class="vspace-xs"></div>

																<div class="col-xs-12 col-sm-8">

																	<div class="form-group">
																		<label class="col-sm-4 control-label no-padding-right" for="form-field-first">First Name</label>

																		<div class="col-sm-8">
																			{{editProfileForm.firstName(class_="input-small")}}	
																		</div>

																		<label class="col-sm-4 control-label no-padding-right" for="form-field-last">Last Name</label>

																		<div class="col-sm-8">
																			{{editProfileForm.lastName(class_="input-small")}}	
																		</div>

																	</div>
																</div>
															</div>

															<div class="space"></div>
															<h4 class="header blue bolder smaller">Contact</h4>

															<div class="form-group">
																<label class="col-sm-3 control-label no-padding-right" for="form-field-email">Email</label>

																<div class="col-sm-9">
																	<span class="input-icon input-icon-right">
																		{{editProfileForm.email()}}
																		<i class="icon-envelope"></i>
																	</span>
																</div>
															</div>


															<div class="space-4"></div>

															<div class="form-group">
																<label class="col-sm-3 control-label no-padding-right" for="form-field-phone">Phone</label>

																<div class="col-sm-9">
																	<span class="input-icon input-icon-right">
																		{{editProfileForm.phone(class_="input-medium input-mask-phone")}}
																		<i class="icon-phone icon-flip-horizontal"></i>
																	</span>
																</div>
															</div>
	
														</div>

														<div id="edit-password" class="tab-pane">
															<div class="space-10"></div>

															<div class="form-group">
																<label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">New Password</label>

																<div class="col-sm-9">
																	{{editProfileForm.password()}}
																</div>
															</div>

															<div class="space-4"></div>

															<div class="form-group">
																<label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">Confirm Password</label>

																<div class="col-sm-9">
																	{{editProfileForm.confirmPassword()}}
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="clearfix form-actions">
													<div class="col-md-offset-3 col-md-9">
														<button class="btn btn-info" type="submit">
															<i class="icon-ok bigger-110"></i>
															Save
														</button>

														&nbsp; &nbsp;
														<button class="btn" type="reset">
															<i class="icon-undo bigger-110"></i>
															Reset
														</button>
													</div>
												</div>
											</form>
										</div><!-- /span -->
									</div><!-- /user-profile -->
								</div>
								
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='../static/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../static/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='../static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="../static/js/excanvas.min.js"></script>
		<![endif]-->

		<script src="../static/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="../static/js/jquery.ui.touch-punch.min.js"></script>
		<script src="../static/js/jquery.gritter.min.js"></script>
		<script src="../static/js/bootbox.min.js"></script>
		<script src="../static/js/jquery.slimscroll.min.js"></script>
		<script src="../static/js/jquery.easy-pie-chart.min.js"></script>
		<script src="../static/js/jquery.hotkeys.min.js"></script>
		<script src="../static/js/bootstrap-wysiwyg.min.js"></script>
		<script src="../static/js/select2.min.js"></script>
		<script src="../static/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="../static/js/fuelux/fuelux.spinner.min.js"></script>
		<script src="../static/js/x-editable/bootstrap-editable.min.js"></script>
		<script src="../static/js/x-editable/ace-editable.min.js"></script>
		<script src="../static/js/jquery.maskedinput.min.js"></script>

		<!-- ace scripts -->

		<script src="../static/js/ace-elements.min.js"></script>
		<script src="../static/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			jQuery(function($) {
			
			
				$('.profile-social-links > a').tooltip();
			
				$('.easy-pie-chart.percentage').each(function(){
				var barColor = $(this).data('color') || '#555';
				var trackColor = '#E2E2E2';
				var size = parseInt($(this).data('size')) || 72;
				$(this).easyPieChart({
					barColor: barColor,
					trackColor: trackColor,
					scaleColor: false,
					lineCap: 'butt',
					lineWidth: parseInt(size/10),
					animate:false,
					size: size
				}).css('color', barColor);
				});
			  
				///////////////////////////////////////////
			
				//show the user info on right or left depending on its position
				$('#user-profile-2 .memberdiv').on('mouseenter', function(){
					var $this = $(this);
					var $parent = $this.closest('.tab-pane');
			
					var off1 = $parent.offset();
					var w1 = $parent.width();
			
					var off2 = $this.offset();
					var w2 = $this.width();
			
					var place = 'left';
					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) place = 'right';
					
					$this.find('.popover').removeClass('right left').addClass(place);
				}).on('click', function() {
					return false;
				});
			
			});
		</script>
	</body>
</html>
