<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Log In</h1>
<form action="login" method="post" name="login">
    {{form1.hidden_tag()}}
    <p>
        Please enter your username:<br>
        {{form1.username(size=80)}}<br>
        {% for error in form1.errors.username %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your password:<br>
        {{form1.password(size=80)}}<br>
        {% for error in form1.errors.password %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>{{form1.remember_me}} Remember Me</p>
    <p><input type="submit" value="Log In"></p>
</form>
<br><br>
<h1>MBA Student Sign Up</h1>
<form action="signup" method="post" name="signup">
    {{form2.hidden_tag()}}
    <p>
        Please enter your username:<br>
        {{form2.username(size=80)}}<br>
        {% for error in form2.errors.username %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your password:<br>
        {{form2.password(size=80)}}<br>
        {% for error in form2.errors.password %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your First Name:<br>
        {{form2.firstName(size=80)}}<br>
        {% for error in form2.errors.firstName %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your Last Name:<br>
        {{form2.lastName(size=80)}}<br>
        {% for error in form2.errors.lastName %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your email:<br>
        {{form2.email(size=80)}}<br>
        {% for error in form2.errors.email %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your Location:<br>
        {{form2.location(size=80)}}<br>
        {% for error in form2.errors.location %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your school:<br>
        {{form2.network()}}<br>
        {% for error in form2.errors.network %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your MBA Class Year:<br>
        {{form2.class_year(size=80)}}<br>
        {% for error in form2.errors.class_year %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>{{form2.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign Up"></p>
</form>
{% endblock %}
